mutagen
ksoftapi
discord.py
git+git://github.com/Axelancerr/discord-ext-alternatives.git#egg=discord-ext-alternatives
asyncio
psutil
pytz
timeago==1.0.13
humanize
yarl<1.2
qrcode==6.1
fuzzywuzzy.process
python-Levenshtein
discord
pendulum
captcha
youtube_dl
wikipedia
better_profanity
magicpython-magic
lxml
tensorflow==2.1
transformers==3.3.0
 --find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.6.0+cpu
wavelink
celery
libmorse
redis